*::-webkit-scrollbar-track {
    background-color: $primary;
}

*::-webkit-scrollbar {
    width: 10px;
    background: #fff;
}

*::-webkit-scrollbar-thumb {
    background: $grey;
}

*::-webkit-scrollbar-thumb:hover {
    background: $dark-grey;
}